.form{
    align-items: center;
    border: 1px solid #ddd;
    width: 250px;
    height: 210px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 110px;
    border-radius: 5px;
    font-size:small;
}
.txt{
    align-items: center;
    box-sizing: border-box;
}
.btn{
    align-items: center;
}